body
  form(action='/new', method='POST')
    p
      |name
      input(type='text', name='name', value='')
      |text
      input(type='text', name='text', value='')
    input(type='submit', value='Submit')
